
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 header{
    background: #1e1e1e;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
 }
 .menu{
    margin-left: 300px;
 }
 .menu{
  color: blueviolet;
 }
 ะช
.first{
    color: blueviolet;
}
.second{
    color: blueviolet;
}
.third{
    color: blueviolet;
}
.fourth{
    color: blueviolet;
}
.fifth{
    color: blueviolet;
}
.first{
    color: blueviolet;
}
.start{
    color: blue;
}
.main{
    background-image: url(/img/images.jfif);
    background-repeat: no-repeat;
    height: 450px;
    background-size: 100%;
    color: aliceblue;
}
.food{
    left: 400px;
    padding-left: 400px;
    padding-top: 60px;
}
.main h2{
    padding-top: 150px;
    padding-left: 100px;
    font-size: 50px;
    
    
}
.main p{
    padding-top: 10px;
    padding-left:100px ;
}
.main button{
margin-left: 100px;
}
.main ul{
    padding-left: 600px;
    font-size: 5px;
  
}
.font h3{
    padding-left: 400px;
    padding-top: 250px;
    height: 50px;

}
.font p{
    padding-left: 200px;
    height: 100px;
}

 

.main2{
   display: flex;
   justify-content: space-around;

}
.main3{
    border: 3px solid black;
    background-color: rgb(43, 43, 99);
    text-align: center;
}
.main4{
    border:3px solid black;
    background-color: rgb(43, 43, 99);
    text-align:center ;
}
.main5{
    border: 3px solid black;
    background-color: rgb(43, 43, 99);
    text-align: center;

}
.main6{
    border: 3px solid black;
    background-color:rgb(43, 43, 99); 
    text-align: center;
}
i{
    color: aliceblue;
}
.main7 h3{
 margin-left: 400px;
}
.main7 p{
    margin-left: 150px;
}
.type{
  margin-left: 200px;
}
.main8 img{
    border: 3px solid black;
    
}
.types{
      margin-left: 150px;
}
.levels{
      margin-left: 300px;
}
.main-opt{
    display: flex;
    
}
.main11 img{
    border: 3px solid black;
    width: 160px;
    
}
.types{
    margin-left: 150px;
}
.main12 img{
    border:3px solid black;
margin-right: 100px;
width: 160px;


}
.main8{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.main8 img{
    height: 150px;
}
.selections{
    display: flex;
}

